/* background style */
.b1,.b2,.b3, 
.b4,.b5,.b6,
.b7,.b8,.b9{
  width: 100%;
  height: 100vh;
  background-color: var(--color-background--);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:scroll;
  background-size: 110%;
  position: relative;
}
.b1{
  background-image: url(/img/Picture11.png);
  background-size: 130%;
  
}
.b2{
  background-image: url(/img/Picture16.png);
  background-size:120% ;
}
.b3{
  background-image: url(/img/Picture20.png);
}
.b4{
  background-image: url(/img/Picture23.png);
}
.b5{
  background-image: url(/img/Picture27.png);
}
.b6{
  background-image: url(/img/Picture28.png);
}
.b7{
  background-image: url(/img/Picture31.png);
}
.b8{
  background-image: url(/img/Picture32.png);
}
.b9{
  background-image: url(/img/Picture35.png);
  background-size:130% ;
}

/* Add the blur square as a pseudo-element */
.b1::before,.b2::before,.b3::before,.b4::before,
.b5::before,.b6::before,.b7::before,.b8::before,.b9::before{
  content: "";
  width: 95%; /* Adjust the width of the square */
  height: 100%; /* Adjust the height of the square */
  background-color:rgba(255, 255, 255, 0.7); /* White color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(70%); /* Apply a blur effect */
  z-index: 1; /* Place the square above the background image */
}
.b1::before {
  margin-top: 20px;
  height: 94.5%;
  border-radius: 30px; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
} 
.b9::before{
  height: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.b9{
  margin-bottom: 30px;
}