/* background style */
.b1,.b2,.b3, 
.b4,.b5,.b6,
.b7,.b8,.b9{
  width: 100%;
  height: 100vh;
  background-color: var(--color-background--);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:scroll;
  background-size: 110%;
  position: relative;
}
.b1{
  background-image: url(/img/Picture11.png);
  background-size: 135%;
  height: 52rem;
  
}
.b2{
  background-image: url(/img/Picture16.png);
  background-size:100% ;
  height: 45rem;
}
.b3{
  background-image: url(/img/Picture20.png);
  background-size:100% ;
  height: 48rem;
}
.b4{
  background-image: url(/img/Picture23.png);
  height: 50rem;
}
.b5{
  background-image: url(/img/Picture27.png);
  height: 40rem;
}
.b6{
  background-image: url(/img/Picture28.png);
  height: 50rem;
}
.b7{
  background-image: url(/img/Picture31.png);
  height:47rem; 
}
.b8{
  background-image: url(/img/Picture32.png);
  height: 40rem;
}
.b9{
  background-image: url(/img/Picture35.png);
  height: 45rem;
}

 /* Adjust the styles for the blur square pseudo-element */
 .b1::before, .b2::before, .b3::before, .b4::before, .b5::before, .b6::before, .b7::before, .b8::before, .b9::before {
  content: "";
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* White color with transparency */
  position: absolute;
  top: 0;
  left: 50%; /* Center the blur box horizontally */
  transform: translateX(-50%);
  z-index: 1; /* Place the square above the background image */
  pointer-events: none; /* Allow interaction with content behind the square */
}

/* Adjust the border-radius for the first and last blur square */
.b1::before {
  margin-top: 2rem;
  border-radius: 30px 30px 0px 0px;
  height: 95.5%;
}
.b4::before {
  height: 129.4%;
}
.b5::before {
  height: 129.4%;
}
.b6::before {
  height: 129.4%;
}
.b7::before {
  height: 129.4%;
}
.b8::before {
  height: 100%;
}
.b9::before {
  border-radius: 0px 0px  30px 30px;
  top: -29.4%;
  height: 125%;
}